<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="start">
            <h5 class="m-0">Organizaciones</h5>
        </ng-template>
        <ng-template pTemplate="end">
            @if (isSuperAdmin) {
                <button pButton type="button" label="Nueva organización" icon="pi pi-plus" routerLink="/organizations/new"></button>
            }
        </ng-template>
    </p-toolbar>

    @if (errorMessage()) {
        <p-message severity="error" [text]="errorMessage()!" styleClass="mb-4 w-full"></p-message>
    }

    <p-table
        [value]="organizations()"
        [lazy]="true"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="totalRecords()"
        [loading]="loading()"
        (onLazyLoad)="onLazyLoad($event)"
        dataKey="id"
        [rowsPerPageOptions]="[10, 20, 50]"
        responsiveLayout="scroll"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>CIF/NIF</th>
                <th>Ciudad</th>
                <th>Estado</th>
                <th style="width: 10rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-organization>
            <tr>
                <td>{{ organization.name }}</td>
                <td>{{ organization.taxId }}</td>
                <td>{{ organization.address?.city }}</td>
                <td>
                    <p-tag [severity]="organization.isActive ? 'success' : 'danger'" [value]="organization.isActive ? 'Activa' : 'Eliminada'"></p-tag>
                </td>
                <td>
                    @if (isSuperAdmin) {
                        <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-rounded" [routerLink]="['/organizations', organization.id]"></button>
                        @if (organization.isActive) {
                            <button pButton type="button" icon="pi pi-trash" class="p-button-text p-button-rounded p-button-danger" (click)="confirmDelete(organization)"></button>
                        } @else {
                            <button pButton type="button" icon="pi pi-refresh" class="p-button-text p-button-rounded" (click)="confirmRestore(organization)"></button>
                        }
                    }
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5" class="text-center">No hay organizaciones que mostrar.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
